@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@plugin "daisyui" {
	include: dropdown, button, menu, dropdown-content, tooltip;
}

@theme {
	/* --- Fonts --- */

	/* Extra small breakpoint for header elements positioning */
	--breakpoint-xs: 30rem;

	/* Regular sans-serif, extended by Arvo (a serif font) */
	--font-custom:
		'Arvo', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';

	/* Regular mono, extended by IBM Plex Mono */
	--font-mono:
		'IBM Plex Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
		'Courier New', monospace;

	--font-display: 'Instrument Serif';

	/* --- Colour variables --- */

	--color-theme-bg: theme(--color-neutral-50);
	--color-theme-bg-dark: theme(--color-neutral-900);

	--color-theme-text: theme(--color-neutral-700);
	--color-theme-text-dark: theme(--color-neutral-300);
	--color-theme-text-lighter: theme(--color-neutral-500);
	--color-theme-text-lighter-dark: theme(--color-neutral-300);
	--color-theme-text-accent: theme(--color-neutral-500);
	--color-theme-text-accent-dark: theme(--color-neutral-400);

	--color-theme-bg-card: theme(--color-neutral-100);
	--color-theme-bg-card-dark: theme(--color-neutral-800);

	--color-theme-bg-card-state: theme(--color-neutral-200);
	--color-theme-bg-card-state-dark: theme(--color-neutral-600);
}

@layer components {
	hr {
		@apply dark:!border-neutral-700;
	}

	.nav-item {
		@apply text-theme-text-lighter dark:text-theme-text-lighter-dark hover:text-theme-text dark:hover:text-theme-text-dark active:text-theme-text dark:active:text-theme-text-dark block px-4 py-2 font-mono text-sm tracking-wide uppercase;
	}

	.prose-custom {
		@apply text-theme-text dark:text-theme-text-dark prose prose-headings:text-center prose-rose prose-headings:text-theme-text dark:prose-headings:text-theme-text-dark prose-a:tracking-tighter prose-a:no-underline prose-a:font-mono dark:prose-invert text-justify;
	}

	.category {
		@apply font-mono tracking-wide uppercase;
	}

	.coverCardEffect {
		@apply translate-y-4 opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100 group-active:translate-y-0 group-active:opacity-100;
	}
}
